### Tuple
- A tuple is an ordered collection of items.

- It is immutable (cannot be changed after creation).

- Used when you want fixed data that shouldn’t be modified.

In [1]:
numbers = (3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12)
numbers

(3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12)

In [2]:
numbers.sort()

<class 'AttributeError'>: 'tuple' object has no attribute 'sort'

In [8]:
sorted(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [5]:
my_tuple = (1, 2, 3, [4, 5, 6])

In [6]:
my_tuple

(1, 2, 3, [4, 5, 6])

In [7]:
my_tuple.append(7)

<class 'AttributeError'>: 'tuple' object has no attribute 'append'

In [9]:
my_tuple[-1].append(7)
my_tuple

(1, 2, 3, [4, 5, 6, 7])

In [10]:
my_tuple[-1] = 2
my_tuple

<class 'TypeError'>: 'tuple' object does not support item assignment

In [11]:
my_tuple[-1][0] = 33
my_tuple

(1, 2, 3, [33, 5, 6, 7])

### Set 
- A set stores unique items (no duplicates).

- It is unordered (items have no fixed position).

- Used for fast membership checks and removing duplicates.

- Cannot access via index.

- Can have different data types

In [14]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [16]:
# Check if a value belongs
2 in A

True

In [17]:
# Union – all values
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [18]:
# Intersection – shared values
A & B

{2, 4}

In [19]:
# Difference – order matters
A - B
B - A

{1, 3, 5}

In [20]:
s = {1, 2, 3, 3}
print(s)

{1, 2, 3}

In [21]:
# Adding a single element
A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [22]:
# Removing an element
# Discard
A = {1, 2, 3, 4, 5}
A.discard(1)
print(A)
A.discard('P')

{2, 3, 4, 5}

In [23]:
# Remove
A = {1, 2, 3, 4, 5}
A.remove(1)
print(A)
A.remove('P')

{2, 3, 4, 5}

<class 'KeyError'>: 'P'

In [24]:
# Pop
A = {1, 2, 3, 4, 5}
A.pop()

1

## Dictionaries

- In certain context, lists/tuples have a limitation where you do not know what the “meaning” of each element is
- The”name is called a “key”
- The value is called a “value”
- Together they are called a key-value pair
- Key is the ‘index’ to access the corresponding value
- Python dictionary keep the key values in the order they were inserted

In [32]:
# Creating a dictionary
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [33]:
# Method - 2
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [27]:
# Accessing a Value
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

print(my_dict['name']) # Method 1

key = 'name' # Method 2 -- use a variable key
print(my_dict[key])

john
john

In [28]:
# by values
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
for value in my_dict.values():
    print(value)

john
john@email.com
1234
Engineering

In [29]:
# key-value
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
for key, value in my_dict.items():
    print(f'key is {key} and value is {value}')

key is name and value is john
key is email and value is john@email.com
key is id and value is 1234
key is major and value is Engineering

In [30]:
# pop
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.pop('name')

'john'

In [45]:
# update
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict['Graduate Year'] = 2024
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

## Dictionary Comprehension

In [44]:
names = ["joey", "rachel", "ross"]
dict_comp = {name: len(name) for name in names}
print(dict_comp)

{'joey': 4, 'rachel': 6, 'ross': 4}

### Shallow Copy

In [35]:
import copy
a = [[1,2], [3,4]]
b = copy.copy(a)

b[0][0] = 99
print(a)   # inner list changes too
print(b)

[[99, 2], [3, 4]]
[[99, 2], [3, 4]]

### Deep Copy

In [36]:
import copy
a = [[1,2], [3,4]]
b = copy.deepcopy(a)

b[0][0] = 99
print(a)   # original remains unchanged
print(b)

[[1, 2], [3, 4]]
[[99, 2], [3, 4]]

### Functions
- A function is a self-contained sequence of statements or instructions that possesses a name.
    
- Functions can be invoked at any point using their names.

- Functions can call other functions.

- Functions can OPTIONALLY accept argument(s) that they can utilize within the function.

- Functions can OPTIONALLY return value(s).

In [39]:
# user defined function

def f(x):
    return x ** 2

result = f(3)
print(result)

9

In [41]:
def f(x):
    print(x ** 2)

result = f(4)   
print(result)

16
None

In [43]:
# without parameters
def greet():
    print("Hello! This is Akhila.")

greet()

Hello! This is Akhila.

### Nested Dictionary

In [47]:
school = {
    "classA": {
        "students": ["Akhila", "Priya", "Jennifer"],
        "scores": [85, 90, 88]
    },
    "classB": {
        "students": ["John", "Emma"],
        "scores": [78, 92]
    }
}

print(school["classA"]["students"])     
print(school["classB"]["scores"][1])

['Akhila', 'Priya', 'Jennifer']
92