## Python Basics
- Print function

In [54]:
print("Hello World")

Hello World

In [55]:
print(656)

656

### Fundamental Data Types
- Integers : Numbers without decimal or complex component

In [56]:
a = 10
a

10

In [57]:
b = 11
b

11

In [58]:
print(a+b)

21

In [59]:
print ('akhila' + a) # cannot add numerical value to a string, to do that convert a to str first

<class 'TypeError'>: can only concatenate str (not "int") to str

In [60]:
print ('akhila' + str(a))

akhila10

- floats: Integers with decimal component

In [61]:
x = 4
type(x)

int

In [62]:
y = 4.323
type(y)

float

In [63]:
print(x+y)
type(x+y)

8.323

float

- Boolean : Defined by True/False

In [64]:
b = True
type(b)

bool

In [65]:
b = False
type(b)

bool

- Strings
- strings can be defined using single quotes, double quotes, or triple quotes. 
- Single and double quotes help us avoid escaping the other type, and triple quotes let us write multi-line strings.

In [66]:
s1 = "Hello World"
print(s1)
print(type(s1))

Hello World
<class 'str'>

In [67]:
s2 = "It's a good day"
print(s2)
print(type(s2))

It's a good day
<class 'str'>

In [68]:
s3 = """This is
a multi-line
string."""
print(s3)
print(type(s3))

This is
a multi-line
string.
<class 'str'>

- Complex
- Complex numbers can be created by using the notation x + yj where x is the real component and y is the imaginary component.

In [69]:
k = 2 + 3j
k

(2+3j)

In [70]:
type(k)

complex

In [71]:
print(k.real, k.imag)

2.0 3.0

### Variables
- In Python, we create a variable just by assigning a value to a name

In [72]:
i = 10
i = 15
i

15

### Dynamic Typing
- Python uses dynamic typing which means variables donâ€™t have 
- fixed types, only the values do. A variable is just a label, and we can point it to any type of value at any time.

In [73]:
i = 10
type(i)

int

In [74]:
i = 'akhila'
type(i)

str

### Arithmetic operators
- Symbols like +, -, *, / are used to perform math operations.
- To add, subtract, multiply, divide, and compute values in calculations.

In [75]:
x = 12
y = 5

print(x + y)   # addition
print(x - y)   # subtraction
print(x * y)   # multiplication
print(x / y)   # division (float result)
print(x % y)   # modulus (remainder)
print(x ** y)  # exponentiation
print(x // y)  # floor division (whole number quotient)

17
7
60
2.4
2
248832
2

### Comparison operators
- Operators like ==, !=, <, >, <=, >= are used to compare values.
- To check conditions, often used in decision-making (if/else).

In [76]:
x = 8
y = 10

print(x == y)   # equal to
print(x != y)   # not equal to
print(x < y)    # less than
print(x > y)    # greater than
print(x <= y)   # less than or equal to
print(x >= y)   # greater than or equal to

False
True
True
False
True
False

### Logical operators
- and, or, not are used to combine or reverse boolean conditions.
- To create complex conditions in code logic.

In [77]:
a = True
b = False

print(a and b)   # AND operation
print(a or b)    # OR operation
print(not a)     # NOT operation

False
True
False

### Assignment operators
- Operators like =, +=, -=, *= are used to assign or update values.
- To store data in variables and modify those values efficiently.

In [78]:
y = 8
y = +8    # unary plus
y = -8    # unary minus
print(y)

y += 4    # y = y + 4
print(y)
y -= 2    # y = y - 2
print(y)
y *= 5    # y = y * 5
print(y)

-8
-4
-6
-30

- Input

In [79]:
name = str(input("Enter your name: "))

print("Hello", name)
print(type(name))

Enter your name:  akhila

Hello akhila
<class 'str'>

### f-string
- An f-string lets you insert variable values directly inside a string using { }. It makes string formatting easy and readable.

In [80]:
name = "Akhila"
score = 95

msg = f"{name} scored {score} marks in the test."
print(msg)

Akhila scored 95 marks in the test.

- .format() lets you insert values into a string by placing {} as placeholders. The values are filled in order.

In [81]:
city = "Hyderabad"
food = "Biryani"

print("I live in {} and I love eating {}.".format(city, food))

I live in Hyderabad and I love eating Biryani.